@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    background-color: red;
}

.kolej {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    justify-content: center;
}
